$primary-color: #D72329;
$dark-primary-color: #B70309;
$secundary-color: #2B2E35;
$alternative-color: #3F434D;

@mixin translate($tx,$ty){
    -webkit-transform: translate($tx,$ty);-moz-transform: translate($tx,$ty);-ms-transform: translate($tx,$ty);transform: translate($tx,$ty);
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;-moz-border-radius: $radius;-ms-border-radius: $radius;border-radius: $radius;
}

@mixin transition($property,$timer,$effect,$delay){
    -webkit-transition: $property $timer $effect $delay;-moz-transition: $property $timer $effect $delay;-ms-transition: $property $timer $effect $delay;transition: $property $timer $effect $delay;
}

@mixin shadow(){
	-webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.75);box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.75); 
}

.container-fluid,.row{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.btn-primary{
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	&:hover{
		background-color: $dark-primary-color !important;
	}
}
header{
	height: 75px;
	width: 100%;
	.navbar-default{
		background: #FFF;
		z-index: 5;
	}
	.navbar-header{
		height: 75px;
		margin: 0 !important;
		a{
			background: url('../img/movies-logo.png') no-repeat;
			background-size: 100%;
			display: inline-block;
			height: 20px;
			left: 60px;
			position: relative;
			text-indent: -9999px;
			top: 25px;
			width: 170px;
		}
		#user-details-info{
			display: inline-block;
			position: absolute;
			top: 20px;
			.avatar{
				display: inline-block;
				position: relative;
				img{
					cursor: pointer;
					&.status{
						position: absolute;
						right: -2px;
						top: -2px;
					}
				}
			}
			span{
				display: none;
			}
		}		
	}
	.navbar-collapse{
		.tooltip{
			display: none !important;
		}
		&.in{
			margin-right: 0;
			height: 240px;
			ul{
				@include translate(0,0);
				left: 0;
				padding-top: 0px;
				li{
					text-align: left;
					padding-bottom: 15px;
					span{
						display: inline-block;
						padding-left: 20px;
					}
					img{
						width: 20px;
					}
				}	
			}
		}
		&.collapsing{
			@extend .in;
		}
		ul{
			@include translate(-50%,0);
			font-weight: 600;
			left: 50%;
			position: absolute;
			padding-top: 25px;
			text-transform: uppercase;
			li{
				cursor: pointer;
				padding-left: 20px; 
				padding-right: 20px;
				text-align: center;
				span{
					display: none;
				}	
			}
		}
	}
	.tooltip-inner{
		background: $primary-color;
	}
	.tooltip-arrow {
		border-bottom-color: $primary-color !important;
	}
}

#highlight{
	display: none;
	position: relative;
	img{
		height: auto;
		width: 100%;
	}
	.highlight-title{
		color: #FFF;
		font-size: 18px;
		position: absolute;
		right: 10%;
		text-align: right;
		top: 15%;
		width: 351px;
	}
	#movie-info-wrapper{
		background: rgba(#060606,0.63);
		bottom: 0;
		color: #FFF;
		height: 50px;
		position: absolute;
		width: 100%;
		p{
			@include translate(0,-50%);
			display: inline-block;
			font-size: 14px;
			padding: 0 14px;
			position: relative;
			top: 50%;
			text-transform: uppercase;
			.movie-detail{
				color: $primary-color;
			}
			&.likes{
				right: 0;
				position: absolute;
				img{
					width: 15px;
				}
			}
			&:first-child{
				padding-left: 33px;
			}
		}
	}
}
span.stars, span.stars span {
    display: inline-block;
    background: url(../img/icons/star.png) 0 -14px repeat-x;
    width: 80px;
    height: 14px;
}
span.stars span {
    background-position: 0 0;
}
#list-movies{
	background: #EDEFEF;
	padding-top: 50px;
	.new-releases{
		color: #3F434D;
		display: none;
		font-size: 17px;
		font-style: italic;
	}
	.search-wrapper{
		position: absolute;
		right: 12.333333%;
		top: 90px;
		width: 162px;
		.search{
			background: #EDEFEF;
			border: none;
			border-bottom: 1px solid #CACDCF;
			padding-right: 19px;
		}
		img{
			cursor: pointer;
			position: absolute;
			right: -13px;
			top: 2px;
		}
	}
	.no-results{
		@extend .new-releases;
		display: block;
		height: 200px;
		padding-top: 90px;
		text-align: center;
	}
	.fake-background{
		display: none;
		height: 100%;
		left: 0;
		top: 0;
		position: fixed;
		width: 100%;
		z-index: 4;
	}
	.movie{
		color: #FFF;
		display: inline-block;
		font-size: 13px;
		margin: 1vw 1%;
		position: relative;
		width: 47%;
		p{
			margin: 0;
		}
		.thumb-wrapper{
			position: relative;
			.thumb{
				width: 100%;
			}
			.dark-background{
				@include border-radius(10px);
				background: rgba($alternative-color,0.5);
				height: 100%; 
				position: absolute;
				top: 0;
				z-index: 5;
				width: 100%;
			}
		}
		.title{
			bottom: 18px;
			left: 10px;
			position: absolute;
			width: calc(100% - 20px);
			z-index: 6;
		}
		.likes{
			left: 10px;
			position: absolute;
			top: 10px;
			z-index: 6;
			img{
				width: 15px;
			}
		}
		.download{
			position: absolute;
			right: 10px;
			top: 10px;
			width: 14px;
			z-index: 6;
		}
		.arrow-top{
			@include translate(-50%,0);
			bottom: -18px;
			display: none;
			height: 18px;
			left: 50%;
			position: absolute;
			width: 22px;
		}
		&:hover{
			.thumb{
				@include shadow;
				border: 5px solid $primary-color;
				border-radius: 12px;
				
			}
			.thumb-wrapper{
				.dark-background{
					display: none;
				}
			}
		}
		&.spaced{
			margin-bottom: 387px;
		}
	}
	.expandable-info{
		@include transition(height,0.3s,linear,0s);
		background: $secundary-color;
		height: 0;
		left: -10.53333%;
		position: absolute;
		width: 120%;
		z-index: 5;
		.cover{
			display: none;
			margin-left: 8%;
			margin-top: 44px;
			vertical-align: top;
			width: 20%;
		}
		article{
			border-right: 1px solid #131417; 
			color: #FFF;
			display: inline-block;
			font-size: 11px;
			margin-left: 5%;
			margin-top: 44px;
			padding-right: 10px;
			vertical-align: top;
			width: 60%;
			p.article-title{
				font-size: 20px;
				font-weight: 600px;
			}
			p.article-score{
				font-weight: 600px;
				padding: 10px 0;
				text-transform: uppercase;
			}
			button{
				font-size: 11px;
				img{
					width: 12px;
				}
			}
		}
		aside{
			color: #FFF;
			display: inline-block;
			font-size: 11px;
			margin-top: 44px;
			padding-left: 20px;
			width: 30%;
			p.aside-title{
				text-decoration: underline;
				text-transform: uppercase;
			}
		}
		&.closed{
			display: none;
		}
	}
	.modal-dialog{
		width: 100%;
		.modal-content{
			@include border-radius(0px);
		}
		.modal-title{
			color: #222;
			font-size: 23px;
		}
		.modal-body{
			background: #111;
			line-height: 0;
			padding-bottom: 0;
			padding-top: 0;
			video{
				@include translate(-50%,0);
				left: 50%;
				position: relative;
				width: 650px;
				max-width: 100%;
			}
		}
		.modal-footer{
			padding-right: 10%;
			padding-top: 40px;
			position: relative;
			span{
				font-size: 16px;
				left: 20px;
				position: absolute;
				text-align: left;
				top: 20px;
			}
			.similar-movies{
				display: none;
				font-size: 12px;
				text-align: center;
				vertical-align: top;
				width: 22.5%;
				img{
					@include shadow;
					cursor: pointer;
					width: 80%;
				}
				&:nth-child(-n+6){
					display: inline-block;
				}
			}
		}
	}
}

footer{
	background: $alternative-color;
	font-size: 12px;
	height: 90px;
	position: relative;
	p{
		color: #FFF;
		position: absolute;
		text-align: center;
		top: 15px;
		width: 100%;
	}
	img{
		@include translate(-50%,0);
		left: 50%;
		position: absolute;
		top: 55px;
	}
}
@media(min-width:590px){

	#highlight{
		display: block;
	}
	#list-movies{
		padding-top: 20px;
		.new-releases{
			display: inline-block;
		}
		.search-wrapper{
			top: auto;
		}
		.movie{
			width: 30%;
			img{
				width: 100%;
			}
		}
		.expandable-info{
			.cover{
				display: inline-block;
			}
			article{
				width: 40%;
			}
			aside{
				width: 20%;
			}
		}
	}
	footer{
		height: 48px;
		p{
			left: 60px;
			top: 15px;
			width: auto;
		}
		img{
			@include translate(0,0);
			left: auto;
			top: 15px;
			right: 60px;
		}
	}
}
@media(min-width:768px){
	header{
		.navbar-header{
			a{
				left: 40px;
			}
			#user-details-info{
				right: 22px;
				span{
					display: inline-block;
				}
			}	
		}
		.navbar-collapse{
			.tooltip{
				display: inline-block !important;
			}
		}
	}
	#highlight{
		.highlight-title{
			font-size: 54px;
		}
	}
	#list-movies{
		.movie{
			display: inline-block;
			width: 17%;
			img{
				width: 100%;
			}
		}
		.expandable-info{
			.cover{
				width: 190px;
			}
		}
		.modal-dialog{
			width: 80%;
			.modal-footer{
				.similar-movies{
					display: inline-block;
					width: 12.85%;
				}
			}
		}
	}
}

@media(min-width:883px){
	#list-movies{
		.expandable-info{
			article{
				font-size: 14px;
				padding-right: 50px;
				p.article-title{
					font-size: 34px;
				}
				button{
					font-size: 14px;
					margin-right: 25px;
					img{
						width: 18px;
					}
				}
			}
			aside{
				font-size: 14px;
			}
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
	.bkg-img{
		content:url("../img/back-main@2x.jpg");
	}

}